.badge {
  display: block;
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.minibadge {
  display: block;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
}
.onlyonly {
  position: absolute;
  color: blue;
}
